.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-content {
    background-color: #e2e0dc;
    display: flex;
    min-height: 100vh;
  
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgb(42, 39, 39);
}
