.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
    background-color: #e2e0dc;
    display: flex;
    min-height: 100vh;
  
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(8px + 2vmin);
    color: rgb(42, 39, 39);
}
