/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 22px;
    color: rgb(42, 39, 39);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar {
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

li { 
  display: inline-block;
  margin: 20px;
  margin-top: 30px;
}

li a {
  transition: 500ms;
  color: inherit;
  text-decoration: none;
}

li a:hover {
  background-color: #a6a397;
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: inherit;

}
